<div class="row">
    <h2>Welcome to Special Events!<small> Where all your road race and parade dreams come true.</small></h2>
    {{#link-to 'special-events.new' classNames='btn btn-link'}}Submit a road race or parade application{{/link-to}}
</div>